<div id="preHeader" class="w-full h-max">
<button onclick="topFunction();" id="goToTop"
        class="bg-white w-16 h-16 fixed bottom-2 left-2 rounded-full flex items-center justify-center">
        <img src="/pics/icons/up.svg" alt="" class="iconSize">
            </button>

    <header class="w-full h-96 flex items-start justify-center">
        <div class="w-1/6 h-24 flex items-center justify-center">
            <img src="/pics/icons/contrast.svg"
                class="iconSize cursor-pointer transition-all duration-300 ease-in-out hover:rotate-180" alt="">
        </div>
        <div
            class="w-2/3 h-24 text-textPurple bg-white text-sm rounded-br-3xl rounded-bl-3xl shadow-2xl overflow-hidden">
            <ul class="w-full h-full flex items-center justify-center font-semibold">
                <li class="li-hover flex flex-row items-center justify-center mr-2 p-4">
                    <img src="/pics/icons/house.svg" class="iconSize" alt="">
                    <a href="#" class="">
                        خانه
                    </a>
                </li>
                <li class="li-hover flex flex-row items-center justify-center mr-2 p-4">
                    <img src="/pics/icons/store.svg" class="iconSize" alt="">
                    <a href="#" class="">
                        محصولات
                    </a>
                </li>
                <li class="li-hover flex flex-row items-center justify-center mr-2 p-4">
                    <img src="/pics/icons/shopping-cart-full.svg" class="iconSize" alt="">
                    <a href="#" class="">
                        خرید عمده
                    </a>
                </li>
                <li class="li-hover flex flex-row items-center justify-center mr-2 p-4">
                    <img src="/pics/icons/sharing.svg" class="iconSize" alt="">
                    <a href="#" class="">
                        اعطای نمایندگی
                    </a>
                </li>
                <li class="li-hover flex flex-row items-center justify-center mr-2 p-4">
                    <img src="/pics/icons/interrogation.svg" class="iconSize" alt="">
                    <a href="#" class="">
                        درباره اراسته
                    </a>
                </li>
                <li href="call.html" class="li-hover flex flex-row items-center justify-center mr-2 p-4">
                    <img src="/pics/icons/phone-call.svg" class="iconSize" alt="">
                    <a href="" class="">
                        تماس با ما
                    </a>
                </li>
            </ul>
        </div>
        <div class="w-1/6 h-24 flex items-center justify-center">
            <img src="/pics/LOGO.svg" alt="" class="w-1/2 h-1/3 border-2 border-transparent px-1 rounded-full">
        </div>
    </header>
</div>
<script src="js/main.js"></script>