@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "shabnam";
    src: url("/fonts/Shabnam.ttf") format("truetype");
}

* {
    direction: rtl;
    font-family: "shabnam";
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* --------------------------- Header Components -------------------------------- */
#goToTop,
.li-hover .after {
    transition: all 0.2s ease-in-out;
}

#goToTop:hover::after {
    content: "TOP";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: larger;
    transform: translate(-50%, -35%);
}

.smIconSize {
    width: 20px;
    height: 20px;
}

.iconSize {
    width: 30px;
    height: 30px;
}

.iconSizeDark {
    width: 40px;
    height: 40px;
}

.li-hover {
    cursor: pointer;
    position: relative;
}

.li-hover .after {
    content: "";
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 500%);
    width: 8px;
    height: 8px;
    border-radius: 50px;

}

.li-hover:hover .after {
    transform: translate(-50%, -30%);

}

/* ----------------------End Header Components ------------------------ */

/* --------=------------Footer Components ------------------------- */
.footerIconSize {
    width: 50px;
    height: 50px;
    opacity: 50%;
}

.footerIconSize:hover {
    opacity: 80%;
}

/* -----------------------End Footer Components ------------------------ */



/* dropdown */
.dropdown {
    display: none;
   
}
.dropdownBtn:focus .dropdown{
    display: block;
   
}


/* notification  */
.notif {
    position: relative;
}
.notif::after { 
    position: absolute;
    content:"";
    width: 15px;
    height: 15px;
    background-color: blue;
    right: 5px;
    top:0;
    border-radius: 50px;
}